# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/build.gradle

# other
eclipse
run
libs
run-data
/src/test
/src/main/java/net/v_black_cat/goetydelight/md
# Files from Forge MDK
forge*changelog.txt
